.logo{
  font-family: 'TT Travels';
    font-style: italic;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */
  
    text-transform: uppercase;
    color: #37DBFF;
}